.col{
    font-size: large;
    color: purple;
}
.get-btn:hover{
    background-color: lightpink;
}
.col-img{
    border-radius: 50%;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}